[Desktop Entry]
Encoding=UTF-8
Name=Link to Banco de Dados da Pesquisa - Telefonia Móvel (Pré-paga) - Conjuntos de dados - Portal Brasileiro de Dados Abertos
Type=Link
URL=http://www.dados.gov.br/dataset/banco-de-dados-da-pesquisa-telefonia-movel-pre-paga
Icon=text-html
