[Desktop Entry]
Encoding=UTF-8
Name=Link to Opinion Mining, Sentiment Analysis, Opinion Extraction
Type=Link
URL=https://www.cs.uic.edu/~liub/FBS/sentiment-analysis.html?source=post_page---------------------------#lexicon
Icon=text-html
