[Desktop Entry]
Encoding=UTF-8
Name=Link to Sentiment Analysis Tools Overview, Part 1. Positive and Negative Words Databases
Type=Link
URL=https://medium.com/@datamonsters/sentiment-analysis-tools-overview-part-1-positive-and-negative-words-databases-ae35431a470c
Icon=text-html
