[Desktop Entry]
Encoding=UTF-8
Name=Link to Sentiment Lexicons for 81 Languages | Kaggle
Type=Link
URL=https://www.kaggle.com/rtatman/sentiment-lexicons-for-81-languages/downloads/sentiment-lexicons-for-81-languages.zip/1
Icon=text-html
