[Desktop Entry]
Encoding=UTF-8
Name=Link to Sentiment analysis - Wikipedia
Type=Link
URL=https://en.wikipedia.org/wiki/Sentiment_analysis
Icon=text-html
